/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 801px) {

	.footer-widgets .wrap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		 
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

}